@charset "utf-8";

/* common */
html{
  font-size: 100%;
}

body{
  font-family: "Hiragino Kaku Gothic proN", "メイリオ", sans-serif;
  color: #555;
  line-height: 1.5;
}

img{
  width: 100%;
}
/* 全体の設定 */
.wrapper{
  max-width: 940px;
  /* コンテンツを中央そろえ(0=上下、auto=左右) */
  margin: 0 auto;
  /* 狭くても余白でるように調整 */
  padding: 0 10px;
}

/* header */
header{
  /* 上部に色付きの線を作成(solidで実線) */
  border-top: 8px solid #8c6239;
}
/*hedaer画像の調整*/
.header_logo{
  width: 90px;
}
/* headerの画像とナビゲーション要素の設定 */
.header_content{
  /* 横並び */
  display: flex;
/* 垂直方向の配置位置の指定（中央揃え） */
  align-items: center;
/* 要素を両端配置 */
  justify-content: space-between;
  margin: 10px auto;
}

/* nl要素を横並びにする */
header nav ul {
  display: flex;
}
/* liの間隔調整 */
header nav ul li {
  margin-left: 10px;
}
/* ナビゲーション要素の下線を消す */
header nav ul li a{
  text-decoration: none;
  color: #555;
}
/* ナビゲーション要素の色の設定(マウスオーバーの際にも色が変わる) */
header nav ul li a:hover,
header nav ul li a:active,
header nav ul li.current a{
  color: #8c6239; 
}

#main_image{
  width: 100%;
  /* 50vh は画面の50％分の幅という意味*/
  height: 50vh;
  background-image: url(https://via.placeholder.com/3000x2500);
/* イメージ画像をリピートしないように設定 */
  backgroud-repeat: no-repeat;
  /* イメージ画像の場所の設定 */
  background-position: center;
  /* 背景画像がbackground-imageを覆うように設定 */
  background-size: cover;
}

/* contents */
.contents{
  /* div contents内の要素は順番にmainタグ→asideタグ。つまりflexでこの２つの要素で横並びになる */
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#main-conten{
  width: 65%;
}

#sider{
  width: 35%;
}

/* 見出しの調整 */
#home h2{
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #8c6239;
  font-size: 1.5rem;
}

/* section id=info の中のdl設定 */
#info dl{
  display: flex;
  /* 横並びで納まり切らない時のためにflex-wrapで改行 */
  flex-wrap: wrap;
  margin-bottom: 50px;
}


#info dt {
/* 拡大縮小してもフォントサイズが崩れないようにするため */
  width: 7em;
}
/* 後半に続いてしまう次のdt要素(7em)分の消し、横並びにdtとddを表示するように設定 */
#info dd{
  width: calc(100% - 7em);
}

#info dt,
#info dd{
  /* 最後に下の余白を作る */
  margin-bottom: 10px;
}

/* ↑と同様にli要素も間隔調整 */
#campaign ul li {
  margin-bottom: 10px;
  list-style-type: none;
}

#sidebar ul li {
  margin-bottom: 20px;
  list-style-type: none;
}

/* footer */
footer{
  margin-top: 100px;
  padding: 30px;
  text-align: center;
  color: #fff;
  background-color: #a67c52;
}

footer ul {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

footer ul li {
  /* 改行せず(block要素)inlineをする */
  display: inline-block;
  margin: 5px;
}
/* リンクの文字色を白色にする */
footer ul li a{
  color: #fff;
}
/* (注意)a:linkとしないと下線を消せない */
footer ul li a:link {
  text-decoration: none;
}

/* (注意)a:hover、a:activeでも同様の設定 */
footer ul li a:hover,
footer ul li a:active{
  /* マウスオーバーで70％上部へ投下するよう設定(opacity) */
  opacity: .7;
}
/* 著作権表示を小さく設定 */
small {
  font-size: 0.7rem;
}

/* メディアクエリ（表示する画面に応じてスタイルを切り替えられる） */